<div class="row">
  <div class="col-mx-8 col-md-offset-8 center-block about">
    <h2>For What?とは</h2>
    <h4 class="about__text">
      For What?は読書記録を管理し、感想を投稿するSNSです。<br>
      ユーザーは、本を読んだ目的や背景と、その評価を投稿します。<br>
      他のユーザがどんな目的で読み、どういった評価をしているかを知ることで、
      本とのミスマッチを防ぎます。
    </h4>
    <h2>読書管理機能</h2>
    <div class="about__read">
    
    </div>
    <h2>感想の投稿</h2>
  </div>
</div>