
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  margin-top: 100px;
}

.msg{
  font-weight: bold;
  color: green;
}

// ボタン
.btn{
  font-weight: 100;
  line-height: 1.5;
  display: inline-block;
  padding: 0.3rem 0.3em;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 0.5rem;
}

.btn-link{
  color: #fff;
  background-color: #0090bb;
}
.btn-link:hover{
  color: #fff;
  background-color: #0080bb;
}

// 新規登録、ログインフォーム
.form {
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
}

.form__header {
  background-color: grey;
  height: 40px;
}

.form__header-title {
  line-height: 40px;
  color: white;
}

.form__group{
  width: 80%;
  margin: 15px auto;
}

.form__attention{
  padding: 0 0 5px 15px ;
}

// プロフィール
.profile {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
}

.profile__title {
  font-size: 18px;
  background: grey;
  padding: 4px 0;
  color: #FFF;
  font-weight: bold;
}

.profile__image{
  margin-top: 10px;
}

.profile__name {
  padding: 5px 20px;
  font-weight:bold;
  font-size:16px;
}

.profile__content{
  margin: 2px 2px 0 0;
}

.profile__book{
  padding:0 0 5px 30px;
}

// 本一覧

.table__line {
	display: table;
	width: 100%;
}

.table__line-title {
	display: table;
	width: 100%;
}

.table__day{
  display: table-cell;
	border-bottom: solid 1px #999;
	width: 15%;
	height: 40px;
	vertical-align: middle;
}
.table__title{
  display: table-cell;
	border-bottom: solid 1px #999;
	width: 40%;
	height: 40px;
	vertical-align: middle;
}
.table__author{
  display: table-cell;
	border-bottom: solid 1px #999;
	width: 30%;
	height: 40px;
	vertical-align: middle;
}
.table__link{
  display: table-cell;
	border-bottom: solid 1px #999;
	width: 15%;
	height: 40px;
	vertical-align: middle;
}

.table__line-title2 {
	display: table;
	width: 100%;
}

.table__day2{
  display: table-cell;
	border-bottom: solid 1px #999;
	width: 15%;
	height: 40px;
	vertical-align: middle;
}
.table__title2{
  display: table-cell;
	border-bottom: solid 1px #999;
	width: 25%;
	height: 40px;
	vertical-align: middle;
}
.table__author2{
  display: table-cell;
	border-bottom: solid 1px #999;
	width: 20%;
	height: 40px;
	vertical-align: middle;
}
.table__star2{
  display: table-cell;
	border-bottom: solid 1px #999;
	width: 25%;
	height: 40px;
	vertical-align: middle;
}
.table__link2{
  display: table-cell;
	border-bottom: solid 1px #999;
	width: 15%;
	height: 40px;
	vertical-align: middle;
}

// 本情報
.book__content{
  padding: 15px 0;
  background: #fff;
  border: solid 1px #999;
  display: flex;
  justify-content: center;
}

.book__info{
  font-size: 18px;
  background: grey;
  padding: 4px 0;
  color: #FFF;
  font-weight: bold;
}

.book__image{
  padding-right: 30px;
}

.book__title{
  font-size: 18px;
  font-weight: bold;
}

.book__author{
  font-size: 15px;
}