.form {
  background: #fff;
  top: 50%;
  left: 50%;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
}

.form-group{
  width: 80%;
  margin: 0 auto;
}

.form-header{
  background-color: grey;
  height: 40px;
}

.form-header-title{
  line-height: 40px;
  color: white;
}

.table_line {
	display: table;
	width: 1000px;
}
	
.box {
	display: table-cell;
	border: solid 1px #999;
	width: 200px;
}

@import "bootstrap-sprockets";
@import "bootstrap";
