<!--<footer class="inverse">-->
<!--  <div class='container'>-->
<!--  	<div class='row'>-->
<!--    	<div>-->
<!--    		<p>For What?</p>-->
<!--    	</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->