<header class="navbar navbar-fixed-top navbar-inverse" >
  <div class="container">
    <nav class='nav navbar-nav navbar-left' style="padding-top:10px">
      <%= link_to "For What?", root_path, class: "logo" %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <%= link_to 'マイページ', user_path(current_user) %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>